
/* Your CSS Code here. */
.holder {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/* background-color: red; */
}
.item{
	/* background-color: green; */
	flex: 0 0 30%; /* Make each item take about 30% of row width */
	box-sizing: border-box;
	margin: 10px 0;
}